@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@600&display=swap');

.card{
    background-color: whitesmoke;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 210fr 120fr;
    margin-bottom: 15%;
    box-shadow: 1px 2px 3px 3px rgba(20,20,20,0.2);
}

.card-w-img{
    grid-template-rows: auto 1fr 50px 50px 50px ;
    grid-template-areas:
    "img img"
    "eventname regfee"
    "venue regfee"
    "time regfee"
    "cname cname"
    ;
}

.card-wo-img{
    grid-template-rows:minmax(100px,30fr) 14fr 14fr 15fr ;
    grid-template-areas:
    "eventname regfee"
    "venue regfee"
    "time regfee"
    "cname cname"
    ;
}

.eventname{
    grid-area: eventname;
    font-size: 1.1vw;
    font-family: 'Inknut Antiqua', serif;
    display: flex;
    height: fit-content;
    padding-left: 15%;
    align-items: center;
    line-height: 140%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.eventvenue{
    grid-area: venue;
    padding-left: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.1vw;
    white-space: nowrap;
    height: fit-content;
    opacity: 0.6;
    overflow: hidden;

}


.eventtime{
    grid-area: time;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    color:#000;
    font-size: 1.1vw;
    height: fit-content;
    padding-left: 15%;
    white-space: nowrap;
}

.eventregfee-paid{
    grid-area: regfee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 20px;
    font-size: 1.3vw;
    background-color: var(--checkblue);
    margin: 15px;
    border-radius: 10px;
    
    height: fit-content;
}

.eventregfee-notpaid{
    grid-area: regfee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 20px;
    font-size: 1.3vw;
    background-color: var(--sandybrown);
    margin: 15px;
    border-radius: 10px;
    height: fit-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.eventregfee-notpaid:hover{
    background-color: var(--darksandybrown);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.eventregfee-notpaid:active{
    background-color: var(--litesandybrown);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.dollar{
    color:black;
}

.eventregfee-notpaid:active,:hover>.dollar{
    color:black;

}


.clubname{
    padding-top: 10px;
    text-align: center;
    grid-area: cname;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 0 0 10px 10px;
}

.clubname-green{
    background-color: var(--litecharcoal);
}

.clubname-blue{
    background-color: var(--saffron);
}


.clubname-red{
    background-color: var(--liteburntsienna);
}


.clubname-purple{
    background-color: var(--persiangreen);
}



.eventimage{
    grid-area: img;
    background-color: yellow;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;

}


@media only screen and (max-width: 768px){
    .Events{
        padding-left: 4%;
        padding-right: 4%;
    }
    .eventname,.eventregfee-paid,.eventregfee-notpaid{
        font-size: 5vw;
    }
    .eventvenue,.eventtime{
        font-size: 4vw;
    }
}


.update_delete_box{
    grid-area: regfee;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
    padding:25%;
    padding-bottom: 60%;
}

.update_delete_box_poof{
    display: none;
}


.update-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    background-color: var(--offblue);
    border-radius:5px 5px  0 0 ;
    width:100%;
}

.delete-btn{
    height:100%;
    display: flex;
    justify-content: center;
    background-color: var(--deletered);
    align-items: center;
    border-radius: 0 0 5px 5px;
    width:100%;
}

.delete-btn:hover{
    background-color: var(--offred);
}

.update-btn:hover{
    background-color: var(--checkgreen);
}