.Record{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin: 1% 1% 1% 0;
    border-radius: 10px 10px 2px 2px;
    overflow: auto;
    white-space: nowrap;
    padding-left: 2%;
    padding-right: 2%;
    height: 70px;
}

.clubLogo{
    height: 70%;
}

[class^="field"]{
    padding-left:3%;
}

.value{
    color: var(--colors-black-100, #000);

    /* H2 */
    font-size: 1.2em;
    font-style: normal;
    font-weight: 500;
}

.key{
    color: var(--colors-black-100, #000);

    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    opacity: 0.6;
}


.Report_Button{
    border: none;
    margin-left: 5%;
    background-color: var(--offred);
    padding: .6%;
    border-radius: 5px;
    box-shadow: rgba(214, 30, 30, 0.65) 0px 2px 4px 0px;
    border:solid 1px darkred;
}



.Report_Button:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}


@media only screen and (max-width: 768px){
    .Record{
        margin: 1% 2% 1% 2%;
    }
}