.Record{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin: 1% 1% 1% 0;
    border-radius: 10px 10px 2px 2px;
    overflow: auto;
    white-space: nowrap;
    height: 70px;
    padding-left: 2%;
}

.clubLogo{
    height: 70px;
}

[class^="field"]{
    padding-left:3%;
}

.value{
    color: var(--colors-black-100, #000);

    /* H2 */
    font-size: 1.2em;

    font-style: normal;
    font-weight: 500;
}

.key{
    color: var(--colors-black-100, #000);

    font-size: 14px;

    font-weight: 400;
    line-height: 20px; /* 142.857% */
    opacity: 0.6;
}

@media only screen and (max-width: 768px){
    .Record{
        margin: 1% 2% 1% 2%;
    }
}