.LoginPage{
    display: flex;

}

.rightApp{
    background-color: var(--charcoal);
    height: 100vh;
    width: 50%;
    flex-basis: 45%;
}

.leftApp{
    height: 100vh;
    width: 50%;
    flex-basis: 55%;
}

@media only screen and (max-width: 768px){
    .rightApp{
    flex-basis: 100%;
    }
}