.LoginPage{
    display: flex;

}

.rightApp{
    background-color: #B6AB9A;
    height: 100vh;
    width: 50%;
    flex-basis: 45%;
}

.leftApp{
    background-color: pink;
    height: 100vh;
    width: 50%;
    flex-basis: 55%;
}