body{
    background-color: var(--dashboardbg);
}

.UserDashboard{
    height: 128vh;
    background-color: var(--litesaffron);
    display: grid;
    grid-template-columns: 9fr 150fr;
    grid-template-rows: 7fr 12fr 75fr;
    grid-template-areas: 
    " left nav  "
    " left rec"
    " left events "
    ;
}

@media only screen and (max-width: 768px){
    .UserDashboard{
        grid-template-columns: 1fr;
        grid-template-rows: 7fr 12fr 75fr;
        grid-template-areas: 
        "nav"
        "rec"
        "events"
        ;
    }
}