.regmenu-blue{
    background-color: var(--menulightblue);
    margin: 2% 10% 0% 10%;
    height: 80vh;
    border-radius: 2% 2% 0% 2%;
    display: flex;
    flex-direction: column;
    color:white;
}

.regmenu-green{
    background-color: var(--submitgreen);
    margin: 2% 10% 0% 10%;
    height: 80vh;
    border-radius: 2% 2% 0% 2%;
    display: flex;
    flex-direction: column;
}


.tabs{
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 0;
    font-size: 1.3rem;
    margin-bottom: 10px;

}

.student--btn{
    background-color: var(--offgreen);
    box-shadow: inset  0 0 4px 0 black ; 
    color:rgba(52, 51, 51, 0.54);

    width: 100%;
    padding: 2% 0 2% 0;
    text-align: center;
    border-radius: 10px 0px 0px  0 ;

}

.admin--btn{
    background-color: var(--menulightblue);
    width: 100%;
    padding: 2% 0 2% 0;
    
    text-align: center;
    border-radius: 0px 10px 0px 0px;
    color:white;

}

.student--btn1{
    background-color: var(--offblue);
    opacity: 0.6;
    box-shadow: inset  0 0 7px 0 black ; 
    width: 100%;
    padding: 2% 0 2% 0;
    text-align: center;
    border-radius: 0px 10px 0px 0 ;
    color:white;

}

.admin--btn1{
    background-color: var(--submitgreen);
    /* background-color: white; */
    width: 100%;
    padding: 2% 0 2% 0;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    color:black;
}



